html, body{
    height: 100%;
}
.progress-bar-score{
    --progress: 0;
    height: 30px;
    background-color:gray;
    display: flex;
  }
  
  .progress-bar-score::before{
    content: "";
    width: calc(var(--progress) * 1%);
    background-color: hsl( calc(var(--progress) * 1.2) , 80%, 45%);
    transition: all 1s ease;
  }